div#header(class="fixed", style="display: block; top: 0px;")
  div(class="inner")
    h3(style="margin: 0 auto; text-align: center; margin-top: 8px;") #{title}
    div(class="shadow", style="display:block;")